@namespace BlazorShared.Pages
@page "/geolocations"
@attribute [TabItemOption(Text = "定位/持续定位")]

<h3>定位/持续定位 Geolocation</h3>

<p>@message</p>

<Geolocations OnResult="@OnResult" OnUpdateStatus="@OnUpdateStatus" OnError="@OnError" />

<Badge Color="Color.Warning">@status</Badge>

<Table TItem="Geolocationitem" Items="Items" AutoGenerateColumns="true">
</Table>



<AttributeTable Items="@GetAttributes()" />
