<BootstrapBlazorRoot>
<Router AppAssembly="@typeof(MainLayout).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">你找不到我.[DemoShared]</p>
        </LayoutView>
    </NotFound>
</Router>
</BootstrapBlazorRoot>

