@page "/pdfReaders"
@attribute [TabItemOption(Text = "PDF阅读器")]


<a href="https://www.nuget.org/packages/BootstrapBlazor.PdfReader#readme-body-tab"><h4>PDF阅读器 Pdf Reader</h4></a>

<Tab>
    <TabItem Text="常规">
        <PdfReader Filename=@Filename />
        <pre>@Contents</pre>
    </TabItem>
    <TabItem Text="流化">
        <h6>使用流化模式,可跨域读取文件</h6>
        <div class="row g-3">
            <div class="col-12">
                <BootstrapInputGroup>
                    <BootstrapInput @bind-Value="@UrlBaseStream" />
                    <BootstrapInput @bind-Value="@FilenameStream" />
                    <Button Color="Color.Primary" OnClick="Apply">加载</Button>
                </BootstrapInputGroup>
            </div>
        </div>
        <PdfReader @ref="PdfReader" UrlBase="@UrlBaseStream" Filename="@FilenameStream" StreamMode="true" />
    </TabItem>
</Tab>


@code{
    private string? Contents { get; set; }

    private string View { get; set; } = "FitV";

    private string Pagemode { get; set; } = "thumbs";

    private string Search { get; set; } = "Performance";

    private string ViewerBase { get; set; } = "/_content/BootstrapBlazor.PdfReader/web/viewer.html";

    private int Page { get; set; } = 3;

    private bool ForcePDFJS { get; set; } = true;

    [NotNull]
    PdfReader? PdfReader { get; set; }

    private string Filename = "/_content/BlazorShared/samples/sample.pdf";

    private string UrlBaseStream = "https://blazor.app1.es/_content/BlazorShared/samples/";

    private string FilenameStream = "sample2.pdf";

    private Task OnInfo(string contents)
    {
        this.Contents = contents;
        StateHasChanged();
        return Task.CompletedTask;
    }
    private Task OnError(string contents)
    {
        this.Contents = contents;
        StateHasChanged();
        return Task.CompletedTask;
    }

    private async Task Apply()
    {
        await PdfReader.Refresh();
    }

}
